.row
{
    margin-top:5px;
}
.valuecolor
{
    color: blue;
}
.signingincolor
{
    color:green;
}
.moneycolor
{
    color:green;
}
.largetext
{
    font-size: larger;
}
.errorcolor
{
    color:red;
}
.errorlinecolor
{
    color:darkblue;
}
.footer
{
    margin-top: 10px;
}

/* Reduce browser text size when the view is reduced, so that text fits */
@media all and (max-width: 992px)
{
    body
    {
        font-size: 0.9em;
    }
}
